[flake8]
extend-select = C,B,B9,T,AK1
# B905 should be removed once python>=3.10
extend-ignore = E203,E501,B950,E266,B905
max-complexity = 100
exclude = studies, pybind11, rapidjson, docs-*, src/awkward/_typeparser/generated_parser.py
per-file-ignores =
    tests/*: T, AK1
    dev/*: T, T201, AK1
    src/awkward/__init__.py: E402, F401, F403, AK1, F401, F403
    src/awkward/operations/__init__.py: F401
    src/awkward/_connect/numba/*: AK1
    src/awkward/_errors.py: AK1

[flake8:local-plugins]
extension =
    AK1 = flake8_awkward:AwkwardASTPlugin
paths =
    ./dev/
