
[flake8]
extend-select = C,B,B9,T,AK1
extend-ignore = E203,E501,B950,E266
max-complexity = 100
exclude = studies, pybind11, rapidjson, docs-*, src/awkward/_typeparser/generated_parser.py, awkward/_typeparser/generated_parser.py
per-file-ignores =
    tests/*: T, AK1
    dev/*: T, T201, AK1
    setup.py: T, T201, AK1
    localbuild.py: T, T201, AK1
    src/awkward/__init__.py: E402, F401, F403, AK1
    awkward/__init__.py: E402, F401, F403, AK1
    src/awkward/__init__.py: F401, F403
    awkward/__init__.py: F401, F403
    src/awkward/operations/__init__.py: F401
    awkward/operations/__init__.py: F401
    src/awkward/_connect/numba/*: AK1
    src/awkward/[!_]*: AK1
    src/awkward/_[!v]*: AK1

[flake8:local-plugins]
extension =
    AK1 = flake8_awkward:AwkwardASTPlugin
paths =
    ./dev/
