studies/**/sample-*
docs/demos/countries.geojson
docs/demos/test-program
docs/demos/test-program.cpp

dependent-project/CMakeFiles
dependent-project/CMakeCache.txt
dependent-project/Makefile
dependent-project/cmake_install.cmake
dependent-project/cmake_pybind11

############################################################# IDEs

# ...

############################################################# LaTeX

*.aux
*.log
_minted-*

############################################################# Doxygen

awkward1/signatures/*.xsd
awkward1/signatures/*.xslt
awkward1/signatures/index.xml
awkward1/signatures/dir_*.xml
awkward1/signatures/namespace*.xml

############################################################# Python

# Byte-compiled / optimized / DLL files
__pycache__
*.py[cod]
*$py.class

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# Sphinx documentation
docs/_build/

# Jupyter Notebook
.ipynb_checkpoints

############################################################# C and C++

# ctest
Testing/

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Python environments
/.env/*
