include requirements*.txt VERSION_INFO CMakeLists.txt LICENSE README*.md CONTRIBUTING.md
recursive-include include *.h
recursive-include src *.cpp
recursive-include src/awkward1 *.py
recursive-include tests *.cpp *.py
include *.dll

recursive-include pybind11/include/pybind11 *
recursive-include pybind11/tools *
recursive-include rapidjson/include *
include pybind11/CMakeLists.txt pybind11/LICENSE pybind11/README.md pybind11/CONTRIBUTING.md
