fsspec;sys_platform != "win32"
jax[cpu]>=0.2.15;sys_platform != "win32"
numba>=0.50.0;python_version <= "3.11"
numexpr
pandas>=0.24.0;sys_platform != "win32"
pyarrow>=7.0.0;sys_platform != "win32" and python_version <= "3.11"
pytest>=6
pytest-cov
pytest-xdist
uproot
