on:
  pull-request:

jobs:
  Sphinx:
    strategy:
      matrix:
        python.version:
        - 3.8
    runs-on: ubuntu-18.04
    steps:
    - uses: actions/checkout@v3
      with:
        submodules: true
    - name: Setup ccache
      uses: hendrikmuhs/ccache-action@v1.2
      with:
        key: docs-${{ github.job }}-${{matrix.python-version}}
    - name: Use ccache
      run: |
        echo "/usr/lib/ccache" >> $GITHUB_PATH
        echo "/usr/local/opt/ccache/libexec" >> $GITHUB_PATH
    - name: Python ${{ matrix.python.version }}
      uses: actions/setup-python@v4
      with:
        python-version: ${{ matrix.python.version }}
    - name: Install Pip
      run: python -m pip install --upgrade pip
    - name: Install requirements
      run: |
        python -m pip install -r docs-sphinx/requirements.txt
        sudo apt-get install -y doxygen
    - name: Build Awkward Array
      run: python -m pip install -v .
    - name: Generate documentation
      run: sphinx-build docs-sphinx/ docs-sphinx/_build/
