name: Docs Preview
on:
  workflow_run:
    workflows: [Docs]
    types:
      - completed

concurrency:
  group: 'docs-${{ github.head_ref || github.run_id }}'
  cancel-in-progress: true

jobs:
  branch-preview:
    runs-on: ubuntu-24.04
    name: Deploy Branch Preview
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    permissions:
      id-token: write
      contents: read
    env:
      S3_BUCKET: "preview.awkward-array.org"
      DEPLOY_URL: "http://preview.awkward-array.org.s3-website.us-east-1.amazonaws.com"
    environment:
      name: docs
      url: "${{ env.DEPLOY_URL }}/${{ github.head_ref }}"
    steps:
    # - name: Configure AWS credentials
    #   uses: aws-actions/configure-aws-credentials@v4
    #   with:
    #     aws-region: eu-west-2
    #     role-to-assume: arn:aws:iam::${{ secrets.AWS_ACCOUNT_ID }}:role/${{ secrets.AWS_DEPLOY_ROLE }}
    - name: Download rendered docs
      uses: actions/github-script@v7
      with:
        script: |
          let allArtifacts = await github.rest.actions.listWorkflowRunArtifacts({
              owner: context.repo.owner,
              repo: context.repo.repo,
              run_id: context.payload.workflow_run.id,
          });
          let docsArtifact = allArtifacts.data.artifacts.filter((artifact) => {
            return artifact.name == "docs"
          })[0];
          let PRNumberArtifact = allArtifacts.data.artifacts.filter((artifact) => {
            return artifact.name == "pr_number"
          })[0];
          let downloadDocs = await github.rest.actions.downloadArtifact({
              owner: context.repo.owner,
              repo: context.repo.repo,
              artifact_id: docsArtifact.id,
              archive_format: 'zip',
          });
          let downloadPRNumber = await github.rest.actions.downloadArtifact({
              owner: context.repo.owner,
              repo: context.repo.repo,
              artifact_id: PRNumberArtifact.id,
              archive_format: 'zip',
          });
          const fs = require('fs');
          const path = require('path');
          const temp = '${{ runner.temp }}/artifacts';
          if (!fs.existsSync(temp)){
            fs.mkdirSync(temp);
          }
          fs.writeFileSync(path.join(temp, 'docs.zip'), Buffer.from(downloadDocs.data));
          fs.writeFileSync(path.join(temp, 'pr_number.zip'), Buffer.from(downloadPRNumber.data));
    - name: Unzip artifacts
      run: |
        unzip docs.zip -d "${{ runner.temp }}/artifacts"
        unzip pr_number.zip -d "${{ runner.temp }}/artifacts"
    - name: Read PR number
      run: |
        echo "PR_NUMBER=$(cat ${{ runner.temp }}/artifacts/pr_number.txt)" >> $GITHUB_ENV
        rm ${{ runner.temp }}/artifacts/pr_number.txt
    - name: Sync artifacts
      run: |
        aws s3 sync ${{ runner.temp }}/artifacts/ "s3://${S3_BUCKET}/PR${{ env.PR_NUMBER }}"
